<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <table>
     <thead>
        <tr>
          <th>Id</th>
					<th>Name</th>
          <th>Email</th>
          <th>Created at</th>
          <th>User level</th>
        </tr>
     </thead>
     <tbody>
       {%  for user in users %}
          <tr>
            <th>{{user.id}}</th>
						<th><a href="{% url "show" user_id=user.id%}">{{user.first_name}} {{user.last_name}}</a></th>
            <th>{{user.email}}</th>
            <th>{{user.created_at}}</th>
            {%if user.user_level != 9 %}
              {% if user.user_level == 1 %}
                  <th>Normal<br> Online</th>
              {% endif %}
              {% if user.user_level == 0 %}
                  <th>Normal<br> Offline</th>
              {% endif %}
            {% else %}
              <th>Admin</th>
            {% endif %}
          </tr>
        {% endfor %}
     </tbody>
  </table>
  <a href="{% url 'show' user_id=request.session.user%}">My page</a>

</body>
</html>
