<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Hello</h1>
  {% if request.session.user%}
    <h2 id="note">Welcome user {{request.session.user}}! You're successfully logged in!</h2>
    <a href="{% url 'show' user_id=request.session.user %}">My Page</a>
    <a href="{% url 'logout'%}">Logout</a>
  {% endif %}
  {% if not request.session.user%}
    <a href="{% url 'register'%}">Register</a>
    <a href="{% url 'login'%}">Login</a>
  {% endif %}
</body>
</html>
